body {
	font-size: 1em;
	font-family: sans-serif;
}

.column {
	display: inline-block;
	width: 47%;
	vertical-align: top;
	box-sizing: border-box;
	padding: 10px 0 20px 0;
	margin-left: 1em;
	/* margin-top: 1em; */
}

ul {
	list-style: none;
	padding-top: 0;
	padding-left: 0;
	margin-top: 0.5em;
}

img {
	width: 0.8em;
	height: 0.8em;
	vertical-align: middle;
}

li {
	padding: 1px;
	/* important to not overflow */
	white-space: nowrap;
}

a {
	text-decoration: none;
	line-height: 1.5;
    /* width: 96%; */
    display: inline-block;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}

sup {
    color: magenta;
}

.remove-btn, .edit-btn {
    display: none;
}

li:hover .remove-btn, li:hover .edit-btn {
	display: inline;
    cursor: crosshair;
    /* float: right; */
}

@media (prefers-color-scheme: dark) {
    body {
        background: #282a35;
    }
    a, span {
        color: ivory;
    }
    li:hover {
        background-color: #1b1d21;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: white;
    }
    a, span {
        color: black;
    }
    li:hover {
	    background-color: #e4f4ff;
    }
}
